@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blue-dark-color: #1B3C5A;
    --blue-medium-color:#2970CA;
    --blue-light:#D5E3FF;
    --green-light-color:#C4EDB2;
    --coral-color:#FAC0BD;
    --dark-color:#191919;
    --white-color:#FFFFFF;
    --aleo-font: "Aleo", serif;
    --poppins-font: "Poppins", sans-serif;
    --Degrade-nav-menu-color: linear-gradient(180deg, rgba(7, 36, 62, 0.9) 32.33%, rgba(42, 95, 145, 0.9) 92.71%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--poppins-font);
}

header {
    width: 100%;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-image: url(../../assets/img/aliados/header-backgrond.png);
    position: fixed;
    top: 0;
    z-index: 1;
}



body{
    font-family: 'Poppins',sans-serif;
    background-image: url(../../assets/img/aliados/fondo.png);
    background-position: left;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}


header{
    grid-column: 1/5;
    background-color: var(--blue-dark-color);
    color: var(--white-color);
  }
  
  main{
    grid-column: 1/5;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }

.banner{
    grid-column: 1/5;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

.banner ul{
    display: flex;
    width: 400%;
    padding: 0;
    animation: slide 16s infinite ease-in-out;
  }  
  
.banner li{
  list-style: none;   
  width: 100%;

}

.banner img{
    max-width: 100%;
}

@keyframes slide{
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
}


.titleFood{
    margin-top: 10px;
    grid-column: 1/5;
    font-size: 0.8em;
    margin: 10px ;
  }
  



.alliedFood{
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 10px;
  background-image: url(aliados/fondo-prn.png);
  background-size: 500px;

  margin: 15px;
}

.a1{
  background-image: url(../../assets/img/aliados/cuidados3.jpg);
  background-size: 250px;
  background-size: cover;
  background-repeat: no-repeat;
}

.a1, .a3, .a5, .a7, .a9, .a11{
    grid-column: 1/2;
    background-size: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }



.a2, .a4, .a6, .a8, .a10 , .a12{
  grid-column: 3/4;
  background-size: 250px;
  background-size: cover;
  background-repeat: no-repeat;
}


.a2{
  background-image: url(../../assets/img/aliados/cuidados2.jpg);
}

.a3{
  background-image: url(../../assets/img/aliados/cuidados4.jpg);
}


.a4{

  background-image: url(../../assets/img/aliados/cuidados7.jpg);

}

.a5{
  background-image: url(../../assets/img/aliados/cuidados6.jpg);

}

.a6{
  background-image: url(../../assets/img/aliados/cuidados8.png);
}

.a7{
  background-image: url(../../assets/img/aliados/cuidados9.png);
}

.a8{
  background-image: url(../../assets/img/aliados/cuidados10.jpg);
}

.a9{
  background-image: url(../../assets/img/aliados/cuidados11.jpg);
}

.a10{
  background-image: url(../../assets/img/aliados/cuidados12.jpg);
}

.a11{
  background-image: url(../../assets/img/aliados/cuidados13.jpg);
}

.a12{
  background-image: url(../../assets/img/aliados/cuidados14.jpg);
}


.card{
  text-align: center;
  border-radius: 8px;
  width: 150px;
  height: 200px;
  box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
}

.content{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(77, 77, 77, 0.534);
  opacity: 0;
  transition: .5s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.content h2{
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 30px;
}

.content a{
  background-color: var(--blue-dark-color);
  color: rgb(255, 255, 255);
  margin-top: 20px;
  text-decoration: none;
  border-radius: 10px;
  padding: 6px;
  margin-bottom: 50px;
}

.content a:hover{
  background-color: var(--blue-medium-color)
}

.card:hover .content {
  opacity: 1;
}

.titleSection{
  margin-top: 10px;
  grid-column: 1/5;
  font-size: 0.9em;
  margin: 10px ;
}

.titleSection p{
  margin-top: 10px;
  font-size: 0.8em;
}

.buttonsBack{
  border: 2px dashed var(--blue-medium-color);
  border-left: none;
  border-right: none;
  grid-column: 1/5;
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttonsBack a{
  color: rgb(255, 255, 255);
  padding: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;
  background-color: #1E4364;
  border-radius: 10px;
  text-decoration: none;
}

.buttonsBack .cuidados{
  background-color: #86aee2;
}

.buttonsBack .cuidados:hover{
  background-color: #00153167;
  color: #ffffff;
}


.buttonsBack a:hover{
  background-color: #86aee2;

}



@media (min-width: 768px) {

  .titleFood{
    margin: 50px;
    font-size: 1.1em;
  }


  .alliedFood{
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 40px;
    column-gap: 15px;
    background-image: url(aliados/fondo2.png);
    background-size: 600px;
    margin: 10px;
  }
  

  
  .a1, .a5, .a9{
    grid-column: 1/2;
  }

  .a2, .a6, .a10{
    grid-column: 2/3;
  }

  .a3, .a7, .a11{
    grid-column: 3/4;
  }

  .a4, .a8, .a12{
    grid-column: 4/5;
  }

  .card{
    border-radius: 20px;
    width: 190px;
    height: 300px;
  }

  .content h2{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 50px;
    font-size: 32px;
  }
  
  .content a{
    background-color: var(--blue-dark-color);
    color: rgb(51, 51, 51);
    font-weight: 800;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 60px;
  }

  .content a:hover{
    background-color: var(--blue-light);
    color: var(--white-color);
  }

  .titleSection{

    margin-top: 20px;
    grid-column: 1/5;
    font-size: 1.5em;
  }
  

  .titleSection p{
    grid-column: 1/5;
    margin-top: 30px;
    font-size: 0.9em;
  }
  
  .buttonsBack{
    grid-column: 1/5;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 40px;
  }
  
  .buttonsBack a{
    color: rgb(255, 255, 255);
    padding: 6px;
    margin-top: 10px;
    font-size: 1em;
    background-color: #1E4364;
    border-radius: 10px;
    text-decoration: none;
  }
  
  .buttonsBack a:hover{
    background-color: #86aee2;
    color: rgb(255, 255, 255);
  }
  
}

@media (min-width: 1024px){
  .titleFood{
    margin: 50px;
    font-size: 1.3em;
  }


  .alliedFood{
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 70px;
    column-gap: 20px;
    background-image: url(aliados/fondo2.png);
    background-size: 800px;
    margin-left: 60px;
  }
  

  .a1, .a5, .a9{
    grid-column: 1/2;
  }

  .a2, .a6, .a10{
    grid-column: 2/3;
  }

  .a3, .a7, .a11{
    grid-column: 3/4;
  }

  .a4, .a8, .a12{
    grid-column: 4/5;
  }

  .card{
    border-radius: 20px;
    width: 250px;
    height: 300px;
  }

  .content h2{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 50px;
    font-size: 32px;
  }
  
  .content a{
    background-color: var(--blue-dark-color);
    color: rgb(255, 255, 255);
    font-weight: 800;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 60px;
  }

  .content a:hover{
    background-color:var(--blue-light);;
    color: var(--blue-dark-color);
  }

  .titleSection{

    margin-top:50px;
    margin-bottom: 40px;
    grid-column: 1/5;
    font-size: 1.5em;
  }
  

  .titleSection p{
    grid-column: 1/5;
    margin-top: 10px;
    font-size: 0.9em;
  }
  
  .buttonsBack{
    grid-column: 1/5;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    column-gap: 40px;
  }
  

  .accesorios{
    grid-column: 3/4;
  }

  .comida{
    grid-column: 4/5;
  }

  .juguetes{
    grid-column: 5/6;
  }



  .buttonsBack a{
    color: rgb(255, 255, 255);
    padding: 6px;
    margin-top: 10px;
    font-size: 1em;
    background-color: #1E4364;
    border-radius: 10px;
    text-decoration: none;
  }
  
  .buttonsBack a:hover{
    background-color: #86aee2;
    color: rgb(255, 255, 255);
  }
}


/*Estilos heder*/
.logo-text-heder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-nav {
    width: 35%;
    margin-right: 20px;
}

.text-logo-heder {
    font-family: var(--aleo-font);
    color: var(--white-color);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.bar-btn {
    font-size: 25px;
    color: var(--white-color);
    margin-left: 20px;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: var(--Degrade-nav-menu-color);
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    text-align: center;
    transition: all .5s;
}

.nav-menu li {
    display: none;
    line-height: 3rem;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a {
    color: var(--white-color);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active,
.nav-menu li a:hover {
    color: #4383d6;
    transition: .3s;
    text-shadow: 1px 1px 10px #4383d6;
}

#check {
    display: none;
}

#check:checked~.nav-menu {
    height: 100vh;
}

#check:checked~.nav-menu li {
    display: block;
}


/*responsive tablets*/
@media screen and (min-width: 870px) {

    nav {
        flex-direction: row;
    }

    #index-banner {
        display: none;
    }



    /*responsive navbar*/
    .logo-nav {
        width: 35%;
        margin-left: 20px;
    }

    .bar-btn {
        margin-right: 20px;
    }
}

/*responsive desktop*/

@media screen and (min-width: 950px) {

    /*responsive Pc navbar*/
    nav {
        height: 100px;
        flex-direction: row;

    }

    .logo-nav {
        margin-left: 50px;
    }

    .bar-btn {
        display: none;
    }

    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 1rem;
        backdrop-filter: blur(0px);
    }

    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;

    }

    .nav-menu li a {
        font-size: 1rem;
    }
}



footer{
    grid-column: 1/5;
    width: 100%;
    background-color: var(--blue-dark-color);
    padding: 10px;
    color: var(--white-color);
    font-size: 12px;
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: 50% 50%;
    grid-template-areas:"info-footer loyal-text" 
                        "info-footer social-media"
}

footer > .info-footer {
    grid-area: info-footer;
  }
  
footer > .loyal-text {
    grid-area: loyal-text;
  }
  
footer > .social-media {
    grid-area: social-media;
  }


.info-footer{
    border-right: 1px solid var(--white-color);
}

.info-footer .info{
    margin: 2px 0;
}

.info{
    width: 100%;
    display: flex;
}

.info img{
    margin-right: 10px;
    width: 24px;
}

.loyal-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 5px;
}

.loyal-text p{
    text-align: center;
}

.social-media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
    text-align: center;
    border-top: 1px solid var(--white-color);
    padding: 0 5px;
}

.social-media p{
    text-align: center;
}

.social-media div{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.social-media img{
    margin:0 5px
}



@media screen and (min-width: 768px){
   .info-footer{
       display: flex;
       flex-direction: row;
       justify-content: space-around;
   }

   .pte1{
    border-right: 1px solid var(--white-color);
   }

   .info-pte{
       padding: 0 10px;
   }

   .info img{
    width: 27px;
    }

   .loyal-text{
      height: 100%;
   }

   .social-media{
       border-top: none;
       border-left: 1px solid var(--white-color);
   }

   .social-media img{
    width: 32px;
    margin: 0 10px;
    }

   footer{
       grid-template-rows: 100%;
       grid-template-columns: 55% auto auto; 
       grid-template-areas: "info-footer loyal-text social-media";
   }
}

@media screen and (min-width: 1024px){
    footer{
        font-size: 14.5px;
    }

    .info-pte{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .info img{
        width: 30px;
    }

    .social-media img{
        width: 40px;
        margin: 0 15px;
    }
}

@media screen and (min-width: 1200px){
    .info-pte{
        padding: 0 5%;
    }
}